# QR Verification
Testing details to follow.
